version: '3.8'

services:

  minha-api:
    container_name: estudorinha-container
    build: .
    image: estudorinha-image
    depends_on:
      meu-db:
        condition: service_healthy
    ports:
      - "9999:9999"
    environment:
      PG_ADDRESS: meu-db
      PG_USERNAME: postgres
      PG_PASSWORD: postgres
      PG_DATABASE: estudorinha
    networks:
      - estudorinha-network

  meu-db:
    container_name: estudorinha-postgres-container
    image: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 3s
      timeout: 5s
      retries: 10
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: estudorinha
    networks:
      - estudorinha-network

networks:
  estudorinha-network:
    driver: bridge
